<div>
    <h2>{{ artist.name }}</h2>
    <p><b>Followers:</b> {{ artist.followers.total }}</p>
    <p><b>Genre:</b> {{ artist.genres[0] }}</p>
    <p><b>Popularity:</b> {{ artist.popularity }}</p>
    <img src="{{ artist.images[2].url }}" alt="">
</div>
